@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: Roboto;
}

h3 {
    font-weight: 500;
}

ul {
    list-style: none;
}

.solution-list ul {
    display: flex;
    justify-content: space-around;
}